body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

.about-me,
.projects,
.contact {
    padding: 2rem 0;
}

.projects .project {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.profile-picture {
    width: 150px; /* Adjust the width as needed */
    border-radius: 50%; /* Optional: to make the image round */
    margin-bottom: 1rem;
}